.header__profile_button1 {
    background-color: $turquesa;
    font-weight: $light-custom; 
    font-size: $small;
    color: $white;
    border: $turquesa;
    margin-right: 20px;
    padding: 10px;
}
.header__profile_button2 {
    background-color: $naranjo;
    font-weight: $light-custom; 
    font-size: $small;
    color: $white;
    border: $turquesa;
    padding: 10px;
}