//Font-family 
$montserrat: 'Montserrat', sans-serif;

//Font-size
$large: 45px;
$size-medium: 22px;
$small: 14px;
$x-small: 10px; 

//Font-weight
$light-custom:300;
$medium:500;
$bold:700;

//1er Esquema de colores
$turquesa: #A8ECE6;
$naranjo: #E0684D;

//2do esquema de colores
$dark-jungle: #1b1f21;
$outer-space: #444749;
$old-silver: #828485;

//3er esquema de colores
$white: #fff;
$platinum: #e8ebe4;
$gray: #bec1bb;